<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Tests Case for QTrip Appilcation">
   
  <test name="Gradle test">
	 <classes>
	      <class name=" qtrip.tests.TestCase01"/>
        <class name="qtrip.tests.TestCase2"/>
	 </classes>
      
   </test>
</suite>